# Special folders to be ignored
*other_material/
.Rproj.user

# Special files not to be merged 
*.pdf

# Specific individual files (e.g. municipality coordinates)
municoordinates.*
muniscoord.dta





